#path a {
	color: #fff;
}
#path a:hover {
	color: #ddd;
}

.tabs a, .listing a {
	color: #FFE100;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr { border-color: gold; }

.tabs {
	padding-left: 0px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.tabs > li {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 150px;
	margin-bottom: 5px;
	border: 1px solid transparent;
}

.listing {
	list-style-type: none;
	padding: 0;
	margin: -15px 0 -15px 0;
}

.listing-item {
	list-style-type: none;
	margin: 15px 0;
	padding-left: 0;
	display: block;
	border: 1px solid;
}
@media screen and (max-width: 522px) {
	.listing-item {
		text-align: center;
	}
}

.listing-item > li {
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	max-height: 150px;
	margin: 5px;
	width: 23%;
	min-width: 200px;
}
.listing-item img {
	max-height: 150px;
}

.vertical-align-help {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.listing-item > li:first-child {
	font-weight: bold;
	height: 0px;
	vertical-align: top;
	padding-top: 65px;
	padding-bottom: 85px;
}
.listing-item > li:last-child {
}

.clickable img {
	max-height: 125px;
}
.clickable:hover {
	border: 1px solid gold;
	background-color: #ffa;
	cursor: pointer;
}

.current {
	border-left: 1px solid gold !important;
	border-right: 1px solid gold !important;
}
.current a {
	text-decoration: underline;
}

#content {
	background-color: white;
	color: black;
	padding: 20px;
}
#content a {
	color: #500070;
}
#content * {
	max-width: 100%;
}