body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	
	background-color: #500070;
	color: #FFE100;
	font-family: Arial, sans-serif;
}
#logo {
	width: 112%;
	margin-left: -6%;
	background-image: -webkit-linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	background-image: -o-linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	background-image: -moz-linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	background-image: linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	padding-bottom: 10px;
}

a {
	color: lightgray;
}
.tabs a, .listing a {
	color: #FFE100;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr { border-color: gold; }

.tabs {
	padding-left: 0px;
	display: table;
}
.tabs > li {
	display: table-cell;
	font-size: 1.75vw;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid;
	width: 1%;
}
.tabs > li:first-child {
	border-left: 0px;
}

.listing {
	list-style-type: none;
	padding-left: 0;
}

.listing-item {
	/* display: table; */
	margin: 15px 0;
	padding-left: 0;
	display: flex;
	align-items: center;
}
.listing-item > li {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 24%;
	border: 1px solid transparent;
	height: 150px;
}
.listing-item img {
	/* max-width: 1; */
	max-height: 125px;
}
/* .listing-item > li:hover {
	border: 1px solid gold;
} */
.listing-item > li:first-child {
	/* display: table-cell; */
	font-size: 1.6vw;
	font-weight: bold;
	/* height: 1%;
	margin-top: auto;
	margin-bottom: auto; */
	/* line-height: 150px; */
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center; */
}
.listing-item > li:first-child:hover {
	border: 1px solid gold;
	cursor: pointer;
}

/* .listing {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	ul-layout: fixed;
	border-spacing: 10px 20px;
}
.listing li {
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5vw;
}
.listing li a {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.listing li:hover {
	border: 1px solid gold;
}
.listing tr li:first-child {
	font-size: 1.6vw;
	font-weight: bold;
}
.listing tr li:first-child a {
	display: initial;
	height: initial;
	width: initial;
}
.listing img {
	max-width: 100%;
} */

#content {
	background-color: white;
	color: black;
	padding: 20px;
}
#content a {
	color: #500070;
}