#path a {
	color: #fff;
}
#path a:hover {
	color: #ddd;
}

.tabs a, .listing a {
	color: #FFE100;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr { border-color: gold; }

.tabs {
	padding-left: 0px;
	display: table;
}
.tabs > li {
	display: table-cell;
	font-size: 1.75vw;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid;
	width: 1%;
}
.tabs > li:first-child {
	border-left: 0px;
}

.listing {
	list-style-type: none;
	padding-left: 0;
}

.listing-item {
	margin: 15px 0;
	padding-left: 0;
	display: flex;
	align-items: center;
}
.listing-item > li {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 24%;
	border: 1px solid transparent;
	height: 150px;
}
.listing-item img {
	max-height: 125px;
}

.listing-item > li:first-child {
	font-size: 1.6vw;
	font-weight: bold;
}

.clickable:hover {
	border: 1px solid gold;
	cursor: pointer;
}

.current a {
	text-decoration: underline;
}

#content {
	background-color: white;
	color: black;
	padding: 20px;
}
#content a {
	color: #500070;
}