body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	
	background-color: #500070;
	color: #FFE100;
	font-family: Arial, sans-serif;
}
#logo {
	width: 112%;
	margin-left: -6%;
	background-image: -webkit-linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	background-image: -o-linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	background-image: -moz-linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	background-image: linear-gradient(to right, black 25%, #500070, #0B00E7, #135F00, #9E9E9E, #00E7E4, #EE0000, #E9D500, black 75%);
	padding-bottom: 10px;
}

ul {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.category-list {
	/* background-color: #EEE; */
}

.category-list > li {
}

.category {
	/* background-color: #500070; */
	background-color: #fff;
	color: #500070;
	padding: 10px 10px;
	margin: 10px 10px;
	width: 50%;
	/* width: 90%; */
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	outline: 2px solid #e9d500;
}

.category:hover {background-color: #ffffaa;}

/* .category:hover {
	color: #500070;
} */

.category > li {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
}

.category > li:nth-child(2) {
	margin-left: 15px;
	margin-right: 15px;
}

.subcategories {
	list-style-type: initial;
	display: table;
	margin: 0 auto;
}
.subcategories > li {
	text-align: left;
}