ul {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.category {
	display: inline-block;
	background-color: #fff;
	color: #500070;
	padding: 10px 10px;
	margin: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	outline: 2px solid #e9d500;
}

.category:hover {
	background-color: #ffffaa;
}

.category > li {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}

@media screen and (min-width: 1050px) {
	.category {
		display: block;
		width: 50%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.subcategories {
	list-style-type: initial;
	display: table;
	margin: 0 auto;
}
.subcategories > li {
	text-align: left;
}
@media screen and (max-width: 550px) {
	.subcategories {
		margin-bottom: 5px;
	}
}