{% extends 'starmanite/shell.html' %}

{% block head %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'starmanite/headerfooter.css' %}" />
	
	{% block stylingAndScripts %}
	{% endblock %}
{% endblock %}

{% block body %}
	<h3 id="path" style="padding-bottom: 20px;">You are here: {% block path %}{% endblock %}</h3>
	
	<ul class="tabs">
		<li><a href="{% url 'index:products' %}">{% block products %}Products{% endblock %}</a></li>
		<li><a href="{% url 'index:portfolio' %}">{% block portfolio %}Portfolio{% endblock %}</a></li>
		<li><a href="{% url 'index:writing' %}">{% block writing %}Writing{% endblock %}</a></li>
		<li><a href="{% url 'index:information' %}">{% block information %}Information{% endblock %}</a></li>
	</ul>
	<hr/>

	<div id="main">
		{% block main %}
		{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'starmanite/headerfooter.js' %}"></script>
{% endblock %}