{% extends 'starmanite/shell.html' %}

{% block head %}		
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'starmanite/home.css' %}" />
{% endblock %}

{% block body %}
	<ul class="category-list">
		<li onclick="window.location.href='{% url 'index:products' %}'">
			<ul class="category">
				<li>
					<img src="{% static 'starmanite/placeholder_small.png' %}" alt="placeholder image"/>
				</li>
				<li>
					<h2>Products</h2>
					<p>Things for sale!</p>
				</li>
				<li>
					<ul class="subcategories">
						<li>Programs</li>
						<li>3D Printing</li>
						<li>Commissions</li>
					</ul>
				</li>
			</ul>
		</li>
		
		<li onclick="window.location.href='{% url 'index:portfolio' %}'">
			<ul class="category">
				<li>
					<h2>Portfolio</h2>
					<p>Things I made!</p>
				</li>
				<li>
					<ul class="subcategories">
						<li>Mathematics</li>
						<li>Programming</li>
						<li>3D Modelling</li>
						<li>2D Artwork</li>
						<li>Triumphs</li>
						<li>Websites</li>
					</ul>
				</li>
				<li>
					<img src="{% static 'starmanite/portfolio_thumbnail.png' %}" alt="portfolio thumbnail" width="125px"/>
				</li>
			</ul>
		</li>
		
		<li onclick="window.location.href='{% url 'index:writing' %}'">
			<ul class="category">
				<li>
					<img src="{% static 'starmanite/placeholder_small.png' %}" alt="placeholder image"/>
				</li>
				<li>
					<h2>Writing</h2>
					<p>Things I wrote!</p>
				</li>
				<li>
					<ul class="subcategories">
						<li>Blog</li>
						<li>Stories</li>
						<li>Academic</li>
					</ul>
				</li>
			</ul>
		</li>
		
		<li onclick="window.location.href='{% url 'index:information' %}'">
			<ul class="category">
				<li>
					<h2>Information</h2>
					<p>Things about me!</p>
				</li>
				<li>
					<ul class="subcategories">
						<li>Contact</li>
						<li>Resume</li>
					</ul>
				</li>
				<li>
					<img src="{% static 'starmanite/placeholder_small.png' %}" alt="placeholder image"/>
				</li>
			</ul>
		</li>
	</ul>
{% endblock %}