{% extends 'starmanite/headerfooter.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path %}<a href="{% url 'index:information' %}">Information</a>{% block path2 %}{% endblock %}{% endblock %}

{% block information %}INFORMATION{% endblock %}

{% block main %}

	{% block content %}
		<ul class="listing">
			<li><ul class="listing-item">
				<li>About</li>
				<li><a href="{% url 'index:contact' %}">
					Contact
					<br/>
					<img src="{% static 'starmanite/atSymbol.png' %}"/>
				</a></li>
				<li><a href="{% url 'index:resume' %}">
					Current Resume
					<br/>
					
					<ul style="text-align: left;">
						<li>Work experience</li>
						<li>Education</li>
						<li>Portfolio highlights</li>
						<li>Programming skills</li>
						<li>Mathematics expertise</li>
					</ul>
				</a></li>
			</ul></li>
		</ul>
	{% endblock %}

	<br/>
	<hr/>
{% endblock %}