{% extends 'starmanite/information_resume.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path3 %} > <a href="{% url 'index:jobs' %}">Jobs</a>{% block path4 %}{% endblock %}{% endblock %}

{% block content %}
	<div id="content">
	
		<ul>
			<li><a href="#jobs">Job History</a></li>
			<li><a href="#volunteer">Volunteer Positions</a></li>
		</ul>
		
		<hr/>
		
		<p id="jobs" class="section"><a href="#jobs">Job History</a></p>
		
		<ul>
			<li><strong>June 2013 &ndash; August 2013</strong> &mdash; Programming Tutor at the Summer Academy for Advancing Deaf and Hard of Hearing in Fields of Computing 2013.</li>
		</ul>
		
		<hr/>
		
		<p id="volunteer" class="section"><a href="#volunteer">Volunteer Positions</a></p>
		
		<ul>
			<li><strong>September 2012 &ndash; <em>present</em></strong> &mdash; Secretary/Treasurer for Brothers And Sisters In Christ (BASIC), a club at RIT.</li>
			<li><strong>August 2011 &ndash; <em>present</em></strong> &mdash; Pro-Tempore &ndash;now Elected&ndash; Moderator for the Christianity StackExchange site.</li>
			<li><strong>June 2009 &ndash; August 2009</strong> &mdash; Technical Person at After Gateway</li>
			<li><strong>2006 &ndash; August 2009</strong> &mdash; Visual Media at Wendover Hills Wesleyan Church</li>
		</ul>
	
	</div>
{% endblock %}