{% extends 'starmanite/information_about.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path3 %} > <a href="{% url 'index:otherplaces' %}">Where Else I Can Be Found</a>{% block path4 %}{% endblock %}{% endblock %}

{% block content %}
	<div id="content">
	
		<p>I also have a significant online presence on these sites:
			<ul>
				<li><a href="https://www.facebook.com/elendia.starman">Facebook</a></li>
				<li><a href="http://christianity.stackexchange.com/users/58/elendia-starman">Christianity Stack Exchange</a></li>
				<li><a href="https://www.youtube.com/user/elendiastarman/videos">YouTube</a></li>
				<li>Project Euler (contact me if you want my friend code)</li>
				<li><a href="http://imgur.com/user/elendiastarman">Imgur</a></li>
				<li>And many more...</li>
			</ul>
			
			Basically, anywhere there's someone with the username "El'endia Starman", that's me.
		</p>
	
	</div>
{% endblock %}