{% extends 'starmanite/information.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:about' %}">About</a>{% block path3 %}{% endblock %}{% endblock %}

{% block main %}
	<table class="tabtable"><tr>
		<td><a href="{% url 'index:about' %}">ABOUT</a></td>
		<td><a href="{% url 'index:resume' %}">Resume</a></td>
	</tr></table>

	<hr/>
	<br/>

	<div id="content">
		{% block content %}
			<table class="listing" style="border: 0px solid black;">
				<tr>
					<td><a href="{% url 'index:contact' %}">Contact</a></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
				</tr>
				<tr><td><p></p></td></tr>
				<tr>
					<td><a href="{% url 'index:otherplaces' %}">Where Else I Can Be Found</a></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
				</tr>
			</table>
		{% endblock %}
	</div>

	<br/>
	<hr/>
{% endblock %}