{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:2dartwork' %}">2D Artwork</a>{% block path3 %}{% endblock %}{% endblock %}

{% block art %}2D ARTWORK{% endblock %}

{% block content %}
	<table class="listing" style="border: 0px solid black;">
		<tr>
			<td><a href="{% url 'index:doodles' %}">Doodles</a></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
		</tr>
		<tr>
			<td><a href="{% url 'index:sprites' %}">Sprite Comics</a></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
		</tr>
		<tr>
			<td><a href="{% url 'index:art-misc' %}">Miscellaneous</a></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
		</tr>
	</table>
{% endblock %}