{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:mathematics' %}">Mathematics</a>{% block path3 %}{% endblock %}{% endblock %}

{% block math %}MATHEMATICS{% endblock %}

{% block content %}
	<table class="listing" style="border: 0px solid black;">
		<tr>
			<td><a href="{% url 'index:math-rec' %}">Recreational</a></td>
			<td><img src="{% static 'starmanite/math_rec_img1.png' %}"/></td>
			<td><img src="{% static 'starmanite/CelticSquareKnot_example.png' %}"/></td>
			<td><img src="{% static 'starmanite/hvzFormations.png' %}"/></td>
		</tr>
		<tr>
			<td><a href="{% url 'index:math-classes' %}">Classes</a></td>
			<td><img src="{% static 'starmanite/RIT_logo.gif' %}" /></td>
			<td><img src="{% static 'starmanite/NCSSM_logo.jpg' %}"/></td>
		</tr>
	</table>
{% endblock %}