{% extends 'starmanite/portfolio_2dartwork.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:art-misc' %}">Miscellaneous</a>{% endblock %}

{% block content %}
	<p><strong>2009</strong><br/>
	<img src="{% static 'starmanite/2D examples/PPT_Background_Cells.jpg' %}" alt="cells of different heights and colors" width="25%"/><br/>
	<em>Created with Blender</em></p>
	
	<p><strong>2011</strong><br/>
	<img src="{% static 'starmanite/2D examples/fibonacciWeb.png' %}" alt="radial Fibonacci-based tree" width="25%"/><br/>
	<em>The Fibonacci sequence depicted in a radial pattern</em><br/><br/>
	<img src="{% static 'starmanite/2D examples/HAKMEM123_1.png' %}" alt="interesting pattern" width="25%"/><br/>
	<em>A visualization of a variant on <a href="http://www.inwap.com/pdp10/hbaker/hakmem/series.html#item123" target="_blank">HAKMEM 123</a></em></p>
	
	<p><strong>2013</strong><br/>
	<img src="{% static 'starmanite/2D examples/heartSeedTreeFruits_color.png' %}" alt="heart with tree/plant with seven fruits sprouting from a seed" width="25%"/><br/>
	<em>The design I made in Blender for my then-friend's necklace charm</em></p>
	
	<p><strong>2015</strong><br/>
	<img src="{% static 'starmanite/StarmanInnovations_logo.png' %}" alt="Starman Innovations logo with seven colored symbols representing the elements: purple darkness, blue water, green earth, gray metal, cyan air, red fire, yellow light" width="50%" style="background-color: black;" /><br/>
	<em>This site's logo, made in Blender.</em>
{% endblock %}