{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:2dartwork' %}">2D Artwork</a>{% block path3 %}{% endblock %}{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:doodles' %}">Doodles</a></li>
			<li><img src="{% static 'starmanite/2D examples/Doodles/SCAN0003.JPG' %}"/></li>
			<li><img src="{% static 'starmanite/2D examples/Doodles/SCAN0006.JPG' %}"/></li>
			<li><img src="{% static 'starmanite/2D examples/Doodles/twistedTriquetraTriangle.jpg' %}"/></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:sprites' %}">Sprite Comics</a></li>
			<li><img src="{% static 'starmanite/2D examples/Comic4_The_Unexpected_Hanging.3.PNG' %}"/></li>
			<li><img src="{% static 'starmanite/2D examples/LumienProtophos_1.png' %}"/></li>
			<li><img src="{% static 'starmanite/2D examples/LumienTH_V1.6_3_3.6.png' %}"/></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:art-misc' %}">Miscellaneous</a></li>
			<li><img src="{% static 'starmanite/2D examples/fibonacciWeb.png' %}"/></li>
			<li><img src="{% static 'starmanite/2D examples/HAKMEM123_1.png' %}"/></li>
			<li><img src="{% static 'starmanite/2D examples/color1.png' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}