{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:triumphs' %}">Triumphs</a>{% block path3 %}{% endblock %}{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:creative' %}">Creative</a></li>
			<li><img src="{% static 'starmanite/NaNoWriMo_logo.png' %}" width="" height="" title="Image courtesy of National Novel Writing Month."/></li>
			<li><img src="{% static 'starmanite/forgedRailroadSpikeKnife.JPG' %}"/></li>
			<li><img src="{% static 'starmanite/Pirofi_script.JPG' %}"/></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:skill' %}">Skill-based</a></li>
			<li><img src="{% static 'starmanite/NCSSM_logo.jpg' %}"/></li>
			<li><img src="{% static 'starmanite/GBBA_logo.jpg' %}"/></li>
			<li><img src="{% static 'starmanite/Challenge24_logo.jpg' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}