{% extends 'starmanite/portfolio_websites.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:diningcommons' %}">Employee Scheduling (Dining Commons)</a>{% endblock %}

{% block content %}
	<p>I did the tutorial for Django in a weekend and then almost immediately set about working on a full-fledged website. Following tips from one of my supervisors at my Dining Commons job, I designed and developed an employee scheduling website that was intended to replace their current one. As it happened, that plan fell through because, unbeknowest to me, Dining Services (the organization that encompassed Dining Commons) was already in negotiations with another company and was planning on installing their product. Nonetheless, my Django skills and my general web development skills improved greatly over the three months that I worked on the website.</p>
	
	<p>The site can be viewed here: <a href="http://dcdemo.starmaninnovations.com/">Dining Commons Demo</a>. <em>Note: website-breaking bugs may be encountered because I do not maintain it. You have been warned.</em></p>
	
	<p>These usernames and passwords can be used to explore the site's functionality (in the form "<em>username</em>": "<em>password</em>"):
	<ul>
		<li>testsupervisor: testsupervisor</li>
		<li>testmanager: testmanager</li>
		<li>testworker: testworker</li>
	</ul>
	</p>
	
	<p>Below are three screenshots of some of the functionality available to supervisors. Click to see full size.</p>
	
	<p><em>The shift schedule of the week.</em><br/>
	<a href="{% static 'starmanite/DCDemo_supervisorSchedule_fullSize.png' %}" target="_blank"><img src="{% static 'starmanite/DCDemo_supervisorSchedule_halfSize.png' %}" alt="supervisor schedule" width="25%"/></a></p>
	
	<p><em>For generating the schedule; how many of each kind of shift and what days the shifts are on.</em><br/>
	<a href="{% static 'starmanite/DCDemo_supervisorGenerateSchedule_fullSize.png' %}" target="_blank"><img src="{% static 'starmanite/DCDemo_supervisorGenerateSchedule_halfSize.png' %}" alt="supervisor generate schedule" width="25%"/></a></p>
	
	<p><em>The supervisors' admin tools for creating, editing, or deleting positions, blocks (like morning, lunch, dinner, or closing), school terms, and Dining Services units.</em><br/>
	<a href="{% static 'starmanite/DCDemo_supervisorAdmin_fullSize.png' %}" target="_blank"><img src="{% static 'starmanite/DCDemo_supervisorAdmin_halfSize.png' %}" alt="supervisor admin tools" width="25%"/></a></p>
{% endblock %}