{% extends 'starmanite/portfolio_2dartwork.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:doodles' %}">Doodles</a>{% endblock %}

{% block content %}
	<p><strong>Circa 2007-2011</strong><br/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0002.JPG' %}" alt="playing with S/Z and L shapes" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0003.JPG' %}" alt="various impossible triangle structures" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0004.JPG' %}" alt="half-finished Sierpinski carpet" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0005.JPG' %}" alt="level 2 Menger sponge" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0006.JPG' %}" alt="impossible Sierpinski triangle, impossible Star of David, and possible cube-star-like structure" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0007.JPG' %}" alt="Sierpinski triangle and cube fractal" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0008.JPG' %}" alt="plain impossible Sierpinski triangle" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0009.JPG' %}" alt="larger cube fractal and triangular spiral prime pattern" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/SCAN0010.JPG' %}" alt="various triangular flat knots" width="25%"/>
	</p>
	
	<br/><p><strong>Circa 2011-2013</strong><br/>
	<img src="{% static 'starmanite/2D examples/Doodles/squareBraidDoodles.png' %}" alt="square braids and knots" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/celticKnots_2.png' %}" alt="a bunch of doodled knots" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/lotusKnot.png' %}" alt="various doodles including a lotus knot" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/celticKnot_1.png' %}" alt="intricate Celtic knot" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/twistedTriquetraTriangle.jpg' %}" alt="twisted triquetra triangular knot" width="25%"/>
	<img src="{% static 'starmanite/2D examples/Doodles/knottedSurfaceComplements.jpg' %}" alt="two knotted surfaces that are complements of each other" width="25%"/>
	</p>
{% endblock %}