{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:3dmodelling' %}">3D Modelling</a>{% endblock %}

{% block tabs %}
	{{ block.super }}
	
	<ul class="tabs">
		<li><a href="{% url 'index:blender' %}">Blender</a></li>
		<li><a href="{% url 'index:maya' %}">Maya</a></li>
	</ul>
{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:blender' %}">Blender</a></li>
			<li><img src="{% static 'starmanite/Blender examples/Septigems_HQ.png' %}" alt="seven colored gems on one larger, white gem" /></li>
			<li><img src="{% static 'starmanite/Blender examples/SolusBriirud_wallpaper.png' %}" alt="two scrolls on a marbled stone table with 'Our God' written in the Quenya language and Tengwar script" /></li>
			<li><img src="{% static 'starmanite/Blender examples/LizDaffodil_tweaked.png' %}" alt="grassy field with 20 fully bloomed daffodils and a budding daffodil in front of a gray rock, sheltered" /></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:maya' %}">Maya</a></li>
			<li><img src="{% static 'starmanite/RichAndJody_MinesOfDoom_title.png' %}" alt="title slide of 'Rich and Jody and the Mines of Doom' animation" /></li>
			<li><img src="{% static 'starmanite/Maya_piano.png' %}" alt="piano" /></li>
			<li><img src="{% static 'starmanite/Maya_DarthMaulMouse.png' %}" alt="mouse with red skin and black streaks like Darth Maul" /></li>
		</ul></li>
	</ul>
{% endblock %}