{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:mathematics' %}">Mathematics</a>{% block path3 %}{% endblock %}{% endblock %}

{% block math %}MATHEMATICS{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:math-rec' %}">Recreational</a></li>
			<li><img src="{% static 'starmanite/math_rec_img1.png' %}"/></li>
			<li><img src="{% static 'starmanite/CelticSquareKnot_example.png' %}"/></li>
			<li><img src="{% static 'starmanite/hvzFormations.png' %}"/></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:math-classes' %}">Classes</a></li>
			<li><img src="{% static 'starmanite/RIT_logo.gif' %}" /></li>
			<li><img src="{% static 'starmanite/NCSSM_logo.jpg' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}