{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:triumphs' %}">Triumphs</a>{% endblock %}

{% block tabs %}
	{{ block.super }}
	
	<ul class="tabs">
		<li><a href="{% url 'index:creative' %}">Creative</a></li>
		<li><a href="{% url 'index:skill' %}">Skill-based</a></li>
	</ul>
{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:creative' %}">Creative</a></li>
			<li><img src="{% static 'starmanite/NaNoWriMo_logo.png' %}" alt="NaNoWriMo logo" title="Image courtesy of National Novel Writing Month."/></li>
			<li><img src="{% static 'starmanite/forgedRailroadSpikeKnife.JPG' %}" alt="forged railroad spike knife" /></li>
			<li><img src="{% static 'starmanite/Pirofi_script.JPG' %}" alt="Pirofi script" /></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:skill' %}">Skill-based</a></li>
			<li><img src="{% static 'starmanite/NCSSM_logo.jpg' %}" alt="NCSSM logo" /></li>
			<li><img src="{% static 'starmanite/GBBA_logo.jpg' %}" alt="Greensboro Black Belt Academy logo" /></li>
			<li><img src="{% static 'starmanite/Challenge24_logo.jpg' %}" alt="Challenge 24 logo" /></li>
		</ul></li>
	</ul>
{% endblock %}