{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:websites' %}">Websites</a>{% block path3 %}{% endblock %}{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:diningcommons' %}">Employee Scheduling<br/>(Dining Commons)</a></li>
			<li><img src="{% static 'starmanite/DCDemo_supervisorSchedule_halfSize.png' %}"/></li>
			<li><img src="{% static 'starmanite/DCDemo_supervisorGenerateSchedule_halfSize.png' %}"/></li>
			<li><img src="{% static 'starmanite/DCDemo_supervisorAdmin_halfSize.png' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}