{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:2dartwork' %}">2D Artwork</a>{% endblock %}

{% block tabs %}
	{{ block.super }}
	<ul class="tabs">
		<li><a href="{% url 'index:doodles' %}">Doodles</a></li>
		<li><a href="{% url 'index:sprites' %}">Sprite Comics</a></li>
		<li><a href="{% url 'index:art-misc' %}">Miscellaneous</a></li>
	</ul>
	<hr/>
{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:doodles' %}">Doodles</a></li>
			<li><img src="{% static 'starmanite/2D examples/Doodles/SCAN0003.JPG' %}" alt="various impossible triangle structures" /></li>
			<li><img src="{% static 'starmanite/2D examples/Doodles/SCAN0006.JPG' %}" alt="impossible Sierpinski triangle, impossible Star of David, and possible cube-star-like structure" /></li>
			<li><img src="{% static 'starmanite/2D examples/Doodles/twistedTriquetraTriangle.jpg' %}" alt="twisted triquetra triangular knot" /></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:sprites' %}">Sprite Comics</a></li>
			<li><img src="{% static 'starmanite/2D examples/Comic4_The_Unexpected_Hanging.3.PNG' %}" alt="the unexpected hanging paradox" /></li>
			<li><img src="{% static 'starmanite/2D examples/LumienProtophos_1.png' %}" alt="I came, I saw....then I ran." /></li>
			<li><img src="{% static 'starmanite/2D examples/LumienTH_V1.6_3_3.6.png' %}" alt="current sprite sheet for Lumien the Hedgehog" /></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:art-misc' %}">Miscellaneous</a></li>
			<li><img src="{% static 'starmanite/2D examples/fibonacciWeb.png' %}" alt="radial Fibonacci-based tree" /></li>
			<li><img src="{% static 'starmanite/2D examples/HAKMEM123_1.png' %}" alt="interesting pattern" /></li>
			<li><img src="{% static 'starmanite/2D examples/heartSeedTreeFruits_color.png' %}" alt="heart with tree/plant with seven fruits sprouting from a seed" /></li>
		</ul></li>
	</ul>
{% endblock %}