{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:websites' %}">Websites</a>{% block path3 %}{% endblock %}{% endblock %}

{% block web %}WEBSITES{% endblock %}

{% block content %}
	<table class="listing" style="border: 0px solid black;">
		<tr>
			<td><a href="{% url 'index:starmaninnovations' %}">Starman Innovations</a></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
		</tr>
		<tr><td><p></p></td></tr>
		<tr>
			<td><a href="{% url 'index:diningcommons' %}">Employee Scheduling<br/>(Dining Commons)</a></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
			<td><img src="{% static 'placeholder_small.png' %}"/></td>
		</tr>
	</table>
{% endblock %}