{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:3dmodelling' %}">3D Modelling</a>{% block path3 %}{% endblock %}{% endblock %}

{% block model %}3D MODELLING{% endblock %}

{% block content %}
	<table class="listing" style="border: 0px solid black;">
		<tr>
			<td><a href="{% url 'index:blender' %}">Blender</a></td>
			<td><img src="{% static 'starmanite/Blender examples/Septigems_HQ.png' %}"/></td>
			<td><img src="{% static 'starmanite/Blender examples/SolusBriirud_wallpaper.png' %}"/></td>
			<td><img src="{% static 'starmanite/Blender examples/LizDaffodil_tweaked.png' %}"/></td>
		</tr>
		<tr>
			<td><a href="{% url 'index:maya' %}">Maya</a></td>
			<td><img src="{% static 'starmanite/RichAndJody_MinesOfDoom_title.png' %}"/></td>
			<td><img src="{% static 'starmanite/Maya_piano.png' %}"/></td>
			<td><img src="{% static 'starmanite/Maya_DarthMaulMouse.png' %}"/></td>
		</tr>
	</table>
{% endblock %}