{% extends 'starmanite/portfolio_2dartwork.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path3 %} > <a href="{% url 'index:doodles' %}">Doodles</a>{% block path4 %}{% endblock %}{% endblock %}

{% block content %}
	
	<div id="content">
		<div id="minitoc" style="float: right; border: 1px solid #500070; margin: 0px; padding: 20px;">
			<p style="margin-top: 0px;">Mini table of contents</p>
			<ul style="list-style-type: none; text-align: right; margin-top: 0px; margin-bottom: 0px;">
				<li><strong>Doodles</strong></li>
				<li><a href="{% url 'index:sprites' %}">Sprite Comics</a></li>
				<li><a href="{% url 'index:art-misc' %}">Miscellaneous</a></li>
			</ul>
		</div>
	
		<p id="doodles" class="section"><a href="#doodles">Doodles</a></p>
		
		<p><strong>Circa 2007-2011</strong><br/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0002.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0003.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0004.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0005.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0006.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0007.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0008.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0009.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/SCAN0010.JPG' %}" width="25%"/>
		</p>
		
		<br/><p><strong>Circa 2011-2013</strong><br/>
		<img src="{% static 'starmanite/2D examples/Doodles/squareBraidDoodles.png' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/celticKnots_2.png' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/lotusKnot.png' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/celticKnot_1.png' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/twistedTriquetraTriangle.jpg' %}" width="25%"/>
		<img src="{% static 'starmanite/2D examples/Doodles/knottedSurfaceComplements.jpg' %}" width="25%"/>
		</p>

	</div>
{% endblock %}