{% extends 'starmanite/portfolio_triumphs.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path3 %} > <a href="{% url 'index:creative' %}">Creative</a>{% block path4 %}{% endblock %}{% endblock %}

{% block content %}
	<div id="content">
	
		<ul>
			<li><a href="#writing">Writing</a></li>
			<li><a href="#crafting">Crafting</a></li>
			<li><a href="#miscell">Miscellaneous</a></li>
		</ul>
		
		<hr/>
		
		<p id="writing" class="section"><a href="#writing">Writing</a></p>
		
		<p><strong>National Novel Writing Month (NaNoWriMo)</strong> &mdash; NaNoWriMo is a competition of sorts where the goal is to write at least 50,000 
		words in the month of November. In 2011, I wrote about 12,000 words, and in 2013, I wrote about 6,000 words. However, in 2012, I managed to write 
		50,547 words, including two separate days of 10,000 words. I surpassed 50,000 words again in 2014 with 50,049 words. In all four years, I used NaNoWriMo
		to advance my novel <a href="https://docs.google.com/document/d/11SxTsga2Q8iaaGUBvRMCYXlfTMkiOA0dXnHzCT3EUV0/edit?usp=sharing&authkey=COTopf0P">
		<em>Lumien and the Seven Relics</em></a>, which is currently around 142,000 words long, but should be more than 180,000 words when finished.</p>
		
		<p><strong>Philosophy paper</strong> &mdash; For RIT's 5th annual Undergraduate Philosophy Conference, I wrote a paper on the subject of language. 
		It was accepted and I presented it on May 2. It was surprisingly well received.</p>
		
		<p><strong>Blogging</strong> &mdash; At the time of writing, I have 4 blog posts on <a href="http://www.starmaninnovations.com/blog">my technical blog</a> and 28 blog posts on my personal blog.</p>
		
		<hr/>
		
		<p id="crafting" class="section"><a href="#crafting">Crafting</a></p>
		
		<p><strong>Forging</strong> &mdash; I forged a knife at a Renaissance Fair under the supervision and with the teaching of my friend and his 
		blacksmithing teacher.<br/>
		<img src="{% static 'starmanite/forgedRailroadSpikeKnife.JPG' %}" width="25%"/></p>
		
		<p><strong>Turning</strong> &mdash; I turned a lightsaber handle on a lathe under the supervision and with the teaching of the aforementioned friend.<br/>
		<img src="{% static 'starmanite/turnedLightsaberHandle.jpg' %}" width="25%"/></p>
		
		<hr/>
		
		<p id="miscell" class="section"><a href="#miscell">Miscellaneous</a></p>
		
		<p><strong>Constructed Languages</strong> &mdash; I created a language named Pirofi, complete with its own 
		<a href="https://docs.google.com/document/d/1v_gjiuQ-OomcPkDOM3_VZXyXbXQ5rhaK5CqkxTePzR8/edit?usp=sharing">grammar</a> and 
		<a href="https://docs.google.com/spreadsheet/ccc?key=0Ai56vQbpf7HddFBaaXZnbGUycFJ1bWd4WVA3N3RkV3c&usp=sharing">vocabulary</a>, 
		as well as its own writing script and numeral system.<br/>
		<img src="{% static 'starmanite/Pirofi_script.JPG' %}" width="25%"/>
		<img src="{% static 'starmanite/pirofiNumbers.jpg' %}" width="25%"/></p>

	</div>
{% endblock %}