{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:mathematics' %}">Mathematics</a>{% block path3 %}{% endblock %}{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:math-rec' %}">Recreational</a></li>
			<li><img src="{% static 'starmanite/math_rec_img1.png' %}" alt="Project Euler problem #196 image" /></li>
			<li><img src="{% static 'starmanite/CelticSquareKnot_example.png' %}" alt="Celtic square knot example image" /></li>
			<li><img src="{% static 'starmanite/hvzFormations.png' %}" alt="Humans Versus Zombies formation example" /></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:math-classes' %}">Classes</a></li>
			<li><img src="{% static 'starmanite/RIT_logo.gif' %}" alt="RIT logo" /></li>
			<li><img src="{% static 'starmanite/NCSSM_logo.jpg' %}" alt="NCSSM logo" /></li>
		</ul></li>
	</ul>
{% endblock %}