{% extends 'starmanite/portfolio.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:programming' %}">Programming</a>{% block path3 %}{% endblock %}{% endblock %}

{% block prog %}PROGRAMMING{% endblock %}

{% block content %}
	<table class="listing" style="border: 0px solid black;">
		<tr>
			<td><a href="{% url 'index:sigprogs' %}">Significant Programs</a></td>
			<td><img src="{% static 'starmanite/arbychessHexagonalChess_screenshot.png' %}" /></td>
			<td><img src="{% static 'starmanite/mappingTheSchool_screenshot1.jpg' %}" /></td>
			<td><img src="{% static 'starmanite/spacewars3D_screenshot.png' %}" /></td>
		</tr>
		<tr>
			<td><a href="{% url 'index:prog-background' %}">Programming Background</a></td>
			<td><img src="{% static 'starmanite/projecteuler.jpg' %}"/></td>
			<td><img src="{% static 'starmanite/pythonlogo.jpg' %}" /></td>
			<td><img src="{% static 'starmanite/BlitzBasicLogo.gif' %}" /></td>
		</tr>
	</table>
{% endblock %}