{% extends 'starmanite/portfolio_3dmodelling.html' %}

{% load staticfiles %}
{% block styling %}
	{{ block.super }}
	<style>
		.minitabs {
			display: block;
			margin: 0 auto;
		}
		.minitabs li {
			display: inline-block;
		}
	</style>
{% endblock %}

{% block path %}{{ block.super }} > <a href="{% url 'index:blender' %}">Blender</a>{% endblock %}

{% block content %}
	<p class="section">Quick links: <a href="#blender2008">2008</a>, <a href="#blender2009">2009</a>, <a href="#blender2010">2010</a>, <a href="#blender2011">2011</a>, <a href="#blender2012">2012</a>, <a href="#blender2013">2013</a></p>
	
	<hr/>
	
	
	<p id="blender2008"><a href="#blender2008"><strong>2008</strong></a></p>
	
	<p>Finished Snowman Scene &ndash; July <br/>
		<img src="{% static 'starmanite/Blender examples/FinishedSnowScene.jpg' %}" alt="finished snowman scene" width="25%" height="auto"/> <br/>
		<em>My very first ever work in Blender.</em> </p>
	<p>Impossible Triangle &ndash; August <br/>
		<img src="{% static 'starmanite/Blender examples/impossible_triangle.jpg' %}" alt="impossible triangle" width="25%" height="auto"/></p>
	<p>Black Hole &ndash; November <br/>
		<img src="{% static 'starmanite/Blender examples/black_hole.jpg' %}" alt="black hole in cube" width="25%" height="auto"/></p>
	<p>Rings of Fire &ndash; November <br/>
		<img src="{% static 'starmanite/Blender examples/rings_of_fire.jpg' %}" alt="brilliant rings around mirrored cubes on a background of lightning" width="25%" height="auto"/></p>
	<p>Quadforce with Attitude &ndash; November <br/>
		<img src="{% static 'starmanite/Blender examples/quadforce_with_attitude.jpg' %}" alt="a more intense, three-dimensional version of the Triforce" width="25%" height="auto"/></p>
	
	
	<p id="blender2009"><a href="#blender2009"><strong>2009</strong></a></p>
	
	<p>PowerPoint Background: Three Stars &ndash; May <br/>
		<img src="{% static 'starmanite/Blender examples/PPT_Background1.jpg' %}" alt="three brilliant stars" width="25%" height="auto"/></p>
	<p>Stroke Survivor Logo &ndash; June <br/>
		<img src="{% static 'starmanite/Blender examples/Logo2_Text_v2.jpg' %}" alt="stroke survivor logo showing two people, one walking and one in a wheelchair" width="25%" height="auto"/> <br/>
		<em>Made on request for my mother.</em></p>
	<p>The Cross of Blood and Light &ndash; June <br/>
		<img src="{% static 'starmanite/Blender examples/PPT_Background3(different).png' %}" alt="a blood-red cross backlit by a star" width="25%" height="auto"/></p>
	<p>Chess Set &ndash; July <br/>
		<img src="{% static 'starmanite/Blender examples/chessSet2.jpg' %}" alt="chess set" width="25%" height="auto"/></p>
	<p>Lava Planet &ndash; August <br/>
		<img src="{% static 'starmanite/Blender examples/LavaPlanet.jpg' %}" alt="planet with cracked crust and lava showing through and glowing" width="25%" height="auto"/></p>
	<p>Fiery Glass Spheres &ndash; September <br/>
		<img src="{% static 'starmanite/Blender examples/BlenderWallpaper1_800x600.jpg' %}" alt="fiery glass spheres" width="25%" height="auto"/></p>
	<p>Septigems &ndash; September <br/>
		<img src="{% static 'starmanite/Blender examples/Septigems_HQ.png' %}" alt="seven colored gems on a large, white gem" width="25%" height="auto"/></p>
	<p>Impossible Sierpinski Level 2 &ndash; November <br/>
		<img src="{% static 'starmanite/Blender examples/ImpossibleSierpinskiLev2_wFix1.jpg' %}" alt="impossible Sierpinski triangle" width="25%" height="auto"/></p>
	<p>Cool Structure &ndash; December <br/>
		<img src="{% static 'starmanite/Blender examples/CoolStructure_close.jpg' %}" alt="interesting geometric structure" width="25%" height="auto"/> <br/>
		<em>Blender's compositor was used.</em></p>
	<p>Christmas Wallpaper &ndash; December <br/>
		<img src="{% static 'starmanite/Blender examples/Christmas_wallpaper_800x600.jpg' %}" alt="snowman in snow" width="25%" height="auto"/></p>
	
	
	<p id="blender2010"><a href="#blender2010"><strong>2010</strong></a></p>
	
	<p>Fiery Glass in Space &ndash; January <br/>
		<img src="{% static 'starmanite/Blender examples/FieryGlassSpace_800x600.jpg' %}" alt="ball of fire surrounded by glass panes" width="25%" height="auto"/></p>
	<p>Fire of Sierpinski &ndash; February <br/>
		<img src="{% static 'starmanite/Blender examples/Fire of Sierpinski.jpg' %}" alt="glassy Sierpinski gasket on fire background" width="25%" height="auto"/></p>
	<p>Sponge of Fire &ndash; May <br/>
		<img src="{% static 'starmanite/Blender examples/SpongeOfFire.jpg' %}" alt="Menger sponge with firey texture" width="25%" height="auto"/></p>
	<p>Lightsaber Clash &ndash; May <br/>
		<img src="{% static 'starmanite/Blender examples/Lightsaber Clash.png' %}" alt="two crossed (short) lightsabers" width="25%" height="auto"/></p>
	<p>Water Glass &ndash; June <br/>
		<img src="{% static 'starmanite/Blender examples/Glass1.jpg' %}" alt="simple water glass" width="25%" height="auto"/></p>
	<p>Birthday Cake &ndash; August <br/>
		<img src="{% static 'starmanite/Blender examples/GraceBirthdayCake.jpg' %}" alt="birthday cake on a glass pedestal under a spotlight" width="25%" height="auto"/></p>
	<p>The 8 Solutions of a 3x3 Magic Square &ndash; November <br/>
		<object data="http://www.youtube.com/v/Wia_KOJYYus" width="560" height="315">
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			There should be a YouTube video embedded here. Here's the <a href="http://www.youtube.com/v/Wia_KOJYYus">link</a>.
		</object> <br/>
		<em>This shows how the 8 solutions of a 3x3 Magic Square <br/> really are just 1 solution, rotated and flipped.</em></p>
	
	
	<p id="blender2011"><a href="#blender2011"><strong>2011</strong></a></p>
	
	<p>Solus Briirud &ndash; January <br/>
		<img src="{% static 'starmanite/Blender examples/SolusBriirud_wallpaper.png' %}" alt="fire orange ring with glowing yellow words in the Mando'a script" width="25%" height="auto"/> <br/>
		<em>"Solus Briirud" is Mando'a for "One Ring' %}", so this is a <br/> Mandalorian version of the One Ring from Lord of the Rings.</em></p>
	<p>Knife &ndash; May <br/>
		<img src="{% static 'starmanite/Blender examples/knife1.jpg' %}" alt="knife with brown handle and silver blade" width="25%" height="auto"/></p>
	<p>Sword &ndash; May <br/>
		<img src="{% static 'starmanite/Blender examples/sword2closeup.jpg' %}" alt="sword with red blade and black veins" width="25%" height="auto"/></p>
	<p>Seasonfire &ndash; November <br/>
		<img src="{% static 'starmanite/Blender examples/composited2.png' %}" alt="green, orange, yellowish green, and blue fire for the four seasons" width="25%" height="auto"/> <br/>
		<em>Made for a friend who had game characters named Summerfire <br/> and Autumnfire, and had considered another named Springfire.</em></p>
	<p>Erulva Na En La &ndash; November <br/>
		<img src="{% static 'starmanite/Blender examples/erulva1.png' %}" alt="two scrolls on a marbled stone table with 'Our God' written in the Quenya language and Tengwar script" width="25%" height="auto"/> <br/>
		<em>This is the song "Our God" by Chris Tomlin translated into <br/> Quenya, one of the Elvish languages of Lord of the Rings.</em></p>
	
	
	<p id="blender2012"><a href="#blender2012"><strong>2012</strong></a></p>
	
	<p>Circle Symbol &ndash; January <br/>
		<img src="{% static 'starmanite/Blender examples/CircleSymbol_1_wallpaper.png' %}" alt="Ted Dekker's Circle trilogy symbol: green circle, inset black circle, inset red cross, and finally inset white circle" width="25%" height="auto"/> <br/>
		<em>The inspiration for this came from the excellent Circle Trilogy, <br/> written by Ted Dekker. This symbol is described in the third book.</em></p>
	<p>Easter Empty Tomb &ndash; April <br/>
		<img src="{% static 'starmanite/Blender examples/easterEmptyTomb_800x600.png' %}" alt="Calvary silhouetted at sunrise and the tomb glowing brightly with an inner light" width="25%" height="auto"/></p>
	<p>Super-Nerf Blaster &ndash; June <br/>
		<object data="http://www.youtube.com/v/mNIazEmMAa4" width="560" height="315">
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			There should be a YouTube video embedded here. Here's the <a href="http://www.youtube.com/v/mNIazEmMAa4">link</a>.
		</object> <br/>
		<em>The lightning crackle and laser were done in Blender.</em></p>
	<p>Stuffed Sith Rabbit &ndash; June <br/>
		<object data="http://www.youtube.com/v/3zkSKOPmyV8" width="560" height="315">
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			There should be a YouTube video embedded here. Here's the <a href="http://www.youtube.com/v/3zkSKOPmyV8">link</a>.
		</object> <br/>
		<em>I made this in collaboration with my brother, wherein <br/> I did the lightsabers and tomatoes entirely in Blender.</p>
	<p>Powers Demonstration &ndash; August <br/>
		<object data="http://www.youtube.com/v/mXu_mk3oF2k" width="560" height="315">
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			There should be a YouTube video embedded here. Here's the <a href="http://www.youtube.com/v/mXu_mk3oF2k">link</a>.
		</object> <br/>
		<em>This demonstrates how exponents work.</em></p>
	
	
	<p id="blender2013"><a href="#blender2013"><strong>2013</strong></a></p>
	
	<p>3 Pyramids, 1 Cube &ndash; October <br/>
		<object data="http://www.youtube.com/v/D-Or2nG335g" width="560" height="315">
			<param name="allowFullScreen" value="true"></param>
			<param name="allowscriptaccess" value="always"></param>
			There should be a YouTube video embedded here. Here's the <a href="http://www.youtube.com/v/D-Or2nG335g">link</a>.
		</object><br/>
		<em>This shows how 3 pyramids can be put together to make 1 cube.</em></p>
	<p>Daffodils &ndash; December <br/>
		<img src="{% static 'starmanite/Blender examples/LizDaffodil_tweaked.png' %}" alt="grassy field with 20 fully bloomed daffodils and a budding daffodil in front of a gray rock, sheltered" width="25%" height="auto"/></p>
{% endblock %}