{% extends 'starmanite/products_3dprinting.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:geometric' %}">Geometric Designs</a>{% endblock %}

{% block content %}
	<p>At the moment, I have not 3D printed very much, except for a ring, shown below.</p>
	
	<img src="{% static 'starmanite/LeeBurnette_braidRing_snapshot.png' %}" alt="3D model of braided ring with three strands" width="400px" height="300px" />
	<img src="{% static 'starmanite/braidRingCloseup.jpg' %}" alt="3D printed braided ring in purple plastic" height="300px" />
{% endblock %}