{% extends 'starmanite/products.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:commissions' %}">Commissions</a>{% block path3 %}{% endblock %}{% endblock %}

{% block commissions %}COMMISSIONS{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:trinkets' %}">Code Trinkets</a></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:3dmodels' %}">3D Models</a></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}