{% extends 'starmanite/products_commissions.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path3 %} > <a href="{% url 'index:3dmodels' %}">3D Models</a>{% block path4 %}{% endblock %}{% endblock %}

{% block content %}
	<div id="content">
	
		<p>See my <a href="{% url 'index:3dmodelling' %}">3D modelling portfolio</a> for some examples of what I can do. Please feel free to <a href="{% url 'index:contact' %}">contact</a> me if you would like me to model something for you.</p>
	
	</div>
{% endblock %}