{% extends 'starmanite/products.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:programs' %}">Programs</a>{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:arbychess' %}">ArbyChess</a></li>
			<li><img src="{% static 'starmanite/arbychess_screenshot.png' %}" alt="ArbyChess normal chess screenshot" /></li>
			<li><img src="{% static 'starmanite/arbychessHexagonalChess_screenshot.png' %}" alt="ArbyChess hexagonal chess screenshot" /></li>
		</ul></li>
	</ul>
{% endblock %}