{% extends 'starmanite/products.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:commissions' %}">Commissions</a>{% endblock %}

{% block tabs %}
	{{ block.super }}
	
	<ul class="tabs">
		<li><a href="{% url 'index:trinkets' %}">Code Trinkets</a></li>
		<li><a href="{% url 'index:3dmodels' %}">3D Models</a></li>
	</ul>
	
	<hr/>
{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:trinkets' %}">Code Trinkets</a></li>
			<li><img src="{% static 'starmanite/philosophyPPT/conceptLabelWeb_diagram20.png' %}" alt="ant track example 2, meanders somewhat" /></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:3dmodels' %}">3D Models</a></li>
			<li><img src="{% static 'starmanite/fragilityTest.png' %}" alt="inward spiral that gets thinner" /></li>
			<li><img src="{% static 'starmanite/fragilityTest_mold.png' %}" alt="mold for the above" /></li>
		</ul></li>
	</ul>
{% endblock %}