{% extends 'starmanite/products_programs.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:arbychess' %}">ArbyChess</a>{% endblock %}

{% block content %}
	<h2 style="margin-top: 0px; text-align: center;" >ArbyChess: the hugely customizable chess engine!</h2>
	
	<ul>
		<li>What if you could move pieces twice in a row?</li>
		<li>What if you could move a piece off one side of the board and have it reappear on the opposite side?</li>
		<li>What if instead of rooks, bishops, and knights, you had queens and instead of the regular queen, you had a <em>super</em>-queen?</li>
		<li>What if you wanted to play <em>hexagonal</em> chess?</li>
	</ul>
	
	<p>All these, and more, are possible with <strong>ArbyChess</strong>!</p>
	
	<p style="text-align: center; width: 500px; margin: 0 auto;">
	<img src="{% static 'starmanite/arbychess_screenshot.png' %}" alt="ArbyChess normal chess screenshot" /><br/>
	<em>Demonstration of queening functionality</em></p>
	
	<br/>
	
	<p style="text-align: center; width: 500px; margin: 0 auto;">
	<img src="{% static 'starmanite/arbychessHexagonalChess_screenshot.png' %}" alt="ArbyChess hexagonal chess screenshot" /><br/>
	<em>Hexagonal chess</em></p>
	
	<p>A couple years ago, I decided to write a chess engine. But not just a simple, ordinary chess game. I deemed that too easy and simple. I wanted a challenge, so I decided to make a chess <em>engine</em> that could handle arbitrary boards, pieces, and moves. Thus, ArbyChess was born, and the name is a shortening of "arbitrary chess".</p>
	
	<p>A .zip file containing the executable and the necessary files to play chess can be downloaded from here: 
	<a href="{% static 'starmanite/ArbyChess_v0.8.9.zip' %}">ArbyChess_v0.8.9.zip</a>. <em>(Windows only. For now.)</em></p>
	
	<p>I would love to keep working on this project, but I am currently job-less. If you would like to fund the development of this chess engine, I would love that. Please <a href="{% url 'index:contact' %}">contact</a> me about that if you'd like to make such an offer!</p>
{% endblock %}