{% extends 'starmanite/headerfooter.html' %}

{% load staticfiles %}

{% block path %}<a href="{% url 'index:products' %}">Products</a>{% endblock %}

{% block tabs %}
	{{ block.super }}
	
	<ul class="tabs">
		<li><a href="{% url 'index:programs' %}">{% block programs %}Programs{% endblock %}</a></li>
		<li><a href="{% url 'index:3dprinting' %}">{% block 3dprinting %}3D Printing{% endblock %}</a></li>
		<li><a href="{% url 'index:commissions' %}">{% block commissions %}Commissions{% endblock %}</a></li>
	</ul>
	<hr/>
{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:programs' %}">Programs</a></li>
			<li><a href="{% url 'index:arbychess' %}">
				ArbyChess
				<br/>
				<img src="{% static 'starmanite/arbychessHexagonalChess_screenshot.png' %}" alt="ArbyChess hexagonal chess screenshot" />
			</a></li>
			<li><a href="{% url 'index:minkolang' %}">
				Minkolang
				<br/>
				<img src="{% static 'starmanite/minkolang_onlineInterpreterThumbnail.png' %}" alt="thumbnail of online interpreter" />
			</a></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:3dprinting' %}">3D Printing</a></li>
			<li><a href="{% url 'index:geometric' %}">
				Geometric Designs
				<br/>
				<img src="{% static 'starmanite/Blender examples/braidRing.png' %}" alt="3D model of braided ring with three strands" />
			</a></li>
		</ul></li>

		<li><ul class="listing-item">
			<li><a href="{% url 'index:commissions' %}">Commissions</a></li>
			<li><a href="{% url 'index:trinkets' %}">
				Code Trinkets
				<br/>
				<img src="{% static 'starmanite/philosophyPPT/conceptLabelWeb_diagram20.png' %}" alt="ant track example 2, meanders somewhat" />
			</a></li>
			<li><a href="{% url 'index:3dmodels' %}">
				3D Models
				<br/>
				<img src="{% static 'starmanite/fragilityTest.png' %}" alt="inward spiral that gets thinner" />
			</a></li>
		</ul></li>
	</ul>
{% endblock %}