{% extends 'starmanite/products.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:3dprinting' %}">3D Printing</a>{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:geometric' %}">Geometric Designs</a></li>
			<li><img src="{% static 'placeholder_small.png' %}" alt="placeholder image" /></li>
			<li><img src="{% static 'placeholder_small.png' %}" alt="placeholder image" /></li>
			<li><img src="{% static 'placeholder_small.png' %}" alt="placeholder image" /></li>
		</ul></li>
	</ul>
{% endblock %}