{% extends 'starmanite/products.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:3dprinting' %}">3D Printing</a>{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:geometric' %}">Geometric Designs</a></li>
			<li><img src="{% static 'starmanite/Blender examples/braidRing.png' %}" alt="3D model of braided ring with three strands" /></li>
			<li><img src="{% static 'starmanite/braidRingCloseup.jpg' %}" alt="3D printed braided ring in purple plastic" /></li>
			<li><img src="{% static 'starmanite/Blender examples/jewelryIdeas1.png' %}" alt="two twisted cages, one nested inside the other" /></li>
		</ul></li>
	</ul>
{% endblock %}