{% extends 'starmanite/products.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:3dprinting' %}">3D Printing</a>{% block path3 %}{% endblock %}{% endblock %}

{% block 3dprinting %}3D PRINTING{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:geometric' %}">Geometric Designs</a></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}