{% extends 'starmanite/products_commissions.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:trinkets' %}">Code Trinkets</a>{% endblock %}

{% block content %}
	<p>"Code trinkets" are essentially small pieces of code or small programs that do something simple. I have many such ideas, and I'll provide links to them if and when I get around to doing them. If you have an idea you would like me to program (or if you want me to work on one of these ideas), please feel free to <a href="{% url 'index:contact' %}">contact</a> me to talk about it.</p>
	
	<p>One example is a little program I wrote for my <a href="{% url 'index:conceptweb' %}">concept-web philosophy paper</a> that simulates an ant wandering around looking for food. You can download the Blitz 2D/3D code here: <a href="{% static 'starmanite/antTracks.bb' %}">antTracks.bb</a>. Two example outputs are shown below.</p>
	
	<img src="{% static 'starmanite/philosophyPPT/conceptLabelWeb_diagram19.png' %}" alt="ant track example 1, relatively straight" width="25%" />
	<img src="{% static 'starmanite/philosophyPPT/conceptLabelWeb_diagram20.png' %}" alt="ant track example 2, meanders somewhat" width="25%" />
	
	<p>My current list of code trinkets ideas:</p>
	
	<ul>
		<li><a href="http://www.brainwright.com/products/display/8304-2" target="_blank">Plexi</a> solver</li>
		<li>9x9 L puzzle</li>
		<li>Related Pythagorean triples</li>
		<li>Diff timeline</li>
		<li>Famine preparation calculator</li>
		<li>Truck trailer simulator</li>
		<li>Traffic simulator</li>
		<li>Freeze tag simulation</li>
	</ul>
{% endblock %}