{% extends 'starmanite/products.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:programs' %}">Programs</a>{% block path3 %}{% endblock %}{% endblock %}

{% block main %}
	<table class="tabtable"><tr>
		<td><a href="{% url 'index:programs' %}">PROGRAMS</a></td>
		<td><a href="{% url 'index:3dprinting' %}">3D Printing</a></td>
		<td><a href="{% url 'index:commissions' %}">Commissions</a></td>
	</tr></table>

	<hr/>
	<br/>

	<div id="precontent">
		{% block content %}
			<table class="listing" style="border: 0px solid black;">
				<tr>
					<td><a href="{% url 'index:arbychess' %}">ArbyChess</a></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
				</tr>
				<tr><td><p></p></td></tr>
				<tr>
					<td><a href="{% url 'index:spinningtop' %}">Spinning Top Simulator</a></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
				</tr>
				<tr><td><p></p></td></tr>
				<tr>
					<td><a href="{% url 'index:lumien-game' %}">Lumien the Hedgehog</a></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
				</tr>
			</table>
		{% endblock %}
	</div>

	<br/>
	<hr/>
{% endblock %}