<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Starman Innovations</title>
		
		{% load staticfiles %}
		{% block styling %}
			<link rel="stylesheet" type="text/css" href="{% static 'starmanite/shell.css' %}" />
		{% endblock %}
	</head>
	
	<body>
	
		<div id="logo">
			<a href="{% url 'index:home' %}"><img src="{% static 'starmanite/StarmanInnovations_logo2_large_iconfix.png' %}" alt="logo"/></a>
			<div id="colorbar"></div>
		</div>
	
		<div id="body">
			{% block body %}{% endblock %}
		</div>

		{% block scripts %}
			<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		{% endblock %}
	</body>
</html>