{% extends 'starmanite/writing.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:academic' %}">Academic</a>{% block path3 %}{% endblock %}{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<!-- <li><span style="display: table-cell; vertical-align: middle; height: 150px;"><a href="{% url 'index:conceptweb' %}">A Concept-Web Model of Language</a></span></li> -->
			<li><a href="{% url 'index:conceptweb' %}">A Concept-Web Model of Language</a></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
			<li><img src="{% static 'placeholder_small.png' %}"/></li>
		</ul></li>
	</ul>
{% endblock %}