{% extends 'starmanite/writing.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:academic' %}">Academic</a>{% block path3 %}{% endblock %}{% endblock %}

{% block main %}
	<table class="tabtable"><tr>
		<td><a href="{% url 'index:stories' %}">Stories</a></td>
		<td><a href="{% url 'index:blog' %}">Blog</a></td>
		<td><a href="{% url 'index:academic' %}">ACADEMIC</a></td>
	</tr></table>

	<hr/>
	<br/>

	<div id="content">
		{% block content %}
			<table class="listing" style="border: 0px solid black;">
				<tr>
					<td><a href="{% url 'index:conceptweb' %}">A Concept-Web Model of Language</a></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
					<td><img src="{% static 'placeholder_small.png' %}"/></td>
				</tr>
			</table>
		{% endblock %}
	</div>

	<br/>
	<hr/>
{% endblock %}