{% extends 'starmanite/headerfooter.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path %}<a href="{% url 'index:writing' %}">Writing</a>{% block path2 %}{% endblock %}{% endblock %}

{% block writing %}WRITING{% endblock %}

{% block main %}
	<ul class="tabs">
		<li><a href="{% url 'index:blog' %}">Blog</a></li>
		<li><a href="{% url 'index:stories' %}">Stories</a></li>
		<li><a href="{% url 'index:academic' %}">Academic</a></li>
	</ul>

	<hr/>
	<br/>

	{% block content %}
		<ul class="listing">
			<li><ul class="listing-item">
				<li onclick="window.location.href='{% url 'index:blog' %}'"><a href="{% url 'index:blog' %}">Blog</a></li>
				<li><a href="http://www.starmaninnovations.com/blog/category/hyperbolic-geometry/">
					Hyperbolic Geometry
					<br/>
					<img src="{% static 'starmanite/hyperbolicGeometry_grid_thumbnail.png' %}" />
				</a></li>
			</ul></li>
			
			<li><ul class="listing-item">
				<li onclick="window.location.href='{% url 'index:stories' %}'"><a href="{% url 'index:stories' %}">Stories</a></li>
				<li><a href="{% url 'index:lumien-story' %}">
					Lumien and the Seven Relics
					<br/>
					<img src="{% static 'placeholder_small.png' %}"/>
				</a></li>
				<li><a href="{% url 'index:figments' %}">
					No Longer Figments of the Imagination
					<br/>
					<img src="{% static 'placeholder_small.png' %}"/>
				</a></li>
				<li></li>
			</ul></li>
			
			<li><ul class="listing-item">
				<li onclick="window.location.href='{% url 'index:academic' %}'"><a href="{% url 'index:academic' %}">Academic</a></li>
				<li><a href="{% url 'index:conceptweb' %}">
					A Concept-Web Model of Language
					<br/>
					<img src="{% static 'placeholder_small.png' %}"/>
				</a></li>
			</ul></li>
		</ul>
	{% endblock %}
	
	<br/>
	<hr/>
{% endblock %}