{% extends 'starmanite/writing.html' %}

{% load staticfiles %}

{% block path %}{{ block.super }} > <a href="{% url 'index:stories' %}">Stories</a>{% endblock %}

{% block tabs %}
	{{ block.super }}
	
	<ul class="tabs">
		<li><a href="{% url 'index:lumien-story' %}">Lumien and the Seven Relics</a></li>
		<li><a href="{% url 'index:figments' %}">No Longer Figments of the Imagination</a></li>
	</ul>
{% endblock %}

{% block content %}
	<ul class="listing">
		<li><ul class="listing-item">
			<li><a href="{% url 'index:lumien-story' %}">Lumien and the Seven Relics</a></li>
			<li class="text-excerpt"><p>Dusk found an old hedgehog dozing in a recliner. His fur had a golden hue all around, except for a purple splotch that started at the sides of his eyes and extended upwards to encompass nearly his entire forehead.<p></li>
			<li class="text-excerpt"><p>"Paedlum, I'll tell you what: how about you go get the others and bring them all to the library. You want a story? I'll tell you a story that'll knock your socks off! Hows that?"</p></li>
			<li class="text-excerpt"><p>"Well," Lumien began, "I didn't always look like this. In fact, my appearance changed drastically many years ago. But that is getting ahead of myself. Come closer and listen to this yarn, the adventure of my youth."</p></li>
		</ul></li>
		
		<li><ul class="listing-item">
			<li><a href="{% url 'index:figments' %}">No Longer Figments of the Imagination</a></li>
			<li class="text-excerpt"><p>I was a bit perplexed by how my characters seemed to be inter-acting.with me. After all, weren’t they figments of my imagination?</p></li>
			<li class="text-excerpt"><p>“Well then, I don’t think you’re just a normal guy. I was watching where you were sitting after I got pulled into the crowd. You disappeared. Like... poof. One moment you were there, then someone crossed my field of vision and you were gone."</p></li>
			<li class="text-excerpt"><p>“You were a figment of my imagination, as was the party, this building, the city, even the entire world. Yet...not anymore."</p></li>
		</ul></li>
	</ul>
{% endblock %}