{% extends 'starmanite/writing.html' %}

{% load staticfiles %}
{% block stylingAndScripts %}
{% endblock %}

{% block path2 %} > <a href="{% url 'index:blog' %}">Blog</a>{% block path3 %}{% endblock %}{% endblock %}

{% block content %}
	<ul class="listing"><li>
		<ul class="listing-item">
			<li><a href="http://www.starmaninnovations.com/blog/category/hyperbolic-geometry/">Hyperbolic Geometry</a></li>
			<li><img src="{% static 'starmanite/hyperbolicGeometry_grid_thumbnail.png' %}"/></li>
			<li><img src="{% static 'starmanite/hyperbolicGeometry_bisectedCircle_thumbnail.png' %}"/></li>
			<li><img src="{% static 'starmanite/hyperbolicGeometry_flowColors_thumbnail.png' %}"/></li>
		</ul>
	</li></ul>
{% endblock %}